.box {
    display: flex;
    flex-direction: row;
}
.container-forms {
    max-width: 920px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-result {
    display: flex;
    position: sticky;
    top: 15px;
    height: 0px;
}

.box-result {

}

.properties {
    width: 550px;
    margin: 25px;
    display: flex;
    justify-content: space-around;
}

.container-results {
    max-width: 550px;
    margin: 25px;
}
