<div class="box">
    <!-- Components to display in the Page. -->
    <div class="container-forms">
        <!-- First tutorial -->
        <app-form-tutorial></app-form-tutorial>
        <!-- Second tutorial -->
        <app-reactive-form-tutorial></app-reactive-form-tutorial>
        <!-- Validation tutorial -->
        <app-validation-tutorial></app-validation-tutorial>
    </div>
    <!-- Components to display information of the list. -->
    <div class="display-result">
        <div class="box-result">
            <!-- Properties -->
            <div class="properties">
                <!-- Buttons -->
                <button type="submit" class="btn btn-primary" (click)="displayForms()">Forms</button>
                <button type="submit" class="btn btn-primary" (click)="displayResults()">Results</button>
                <button type="submit" class="btn btn-primary" (click)="displayDocs()">Docs</button>
                <button type="submit" class="btn btn-primary" (click)="displayCode()">Code</button>
            </div>
            <!-- Result container -->
            <div class="container-results">
                <!-- Results -->
                <app-results *ngIf="formsService.showResults"></app-results>
                <!-- Code results -->
                <app-code *ngIf="formsService.showCode"></app-code>
            </div>
        </div>
    </div>
</div>