<!-- Predefined Navbar from Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Proyecto Biblia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Items of the Navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!-- Home -->
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home <span
                        class="sr-only">(current)</span></a>
            </li>

            <!-- Testing -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Testing</a>
            </li>

            <!-- Forms -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Forms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Reactives</a>
                    <a class="dropdown-item" href="#">Natives</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Others</a>
                </div>
            </li>
        </ul>

        <!-- Search form -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" disabled placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" disabled type="submit">Search</button>
        </form>
    </div>
</nav>